<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot Password</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>

    <body class="login-body">

        <div class="login-container">
            <div class="login-box">
                <img src="{{ url_for('static', filename='images/KBLogoBlk.png') }}" alt="Kapit Bisig Logo" class="logo">
    
                <!-- Flash Messages -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="flash-message {{ category }}">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                    <form method="POST">
                        <label for="Username">Username:</label>
                        <input type="username" name="username" required placeholder="Enter your username">
                        <label for="First Name">First Name:</label>
                        <input type="first name" name="firstName" required placeholder="Enter your first name">
                        <label for="Last Name">Last Name:</label>
                        <input type="last name" name="lastName" required placeholder="Enter your last name">
                        <button type="submit" class="btn primary">Reset Password</button>
                        <a href="{{ url_for('auth.login') }}" class="btn secondary">Back to Log In</a>
                    </form>
            </div>
        </div>
    </body>
    </html>